asgiref==3.8.1
whitenoise==6.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.2.12
idna==3.10
ldap3==2.9.1
pyasn1==0.6.3
pyasn1_modules==0.4.1
python-ldap==3.4.5
requests==2.33.0
sqlparse==0.5.4
urllib3==2.6.3
