{% extends "t2bloque.html" %}

{% block content %}
 
<h1>{{tipo|title}}</h1>
<ul>

{% for doc in datos%}
<h3><a href="{{SITE_URL}}/info/{{tipo}}/{{doc.meta.url.0}}">{{doc.meta.title.0}}</a></h3>
<p><strong>{{doc.meta.fecha.0}}</strong></p>
<p>{{doc.html|slice:":250"|safe}}...</p>
<hr/>
{%endfor%}

<nav aria-label="Page navigation">
    <ul class="pagination">
      {% for pag in numpaginas%}
        {% if pag == pagina%}
            <li class="active"><a href="/info/blog/pagina/{{pag}}">{{pag}}</a></li>
        {% else %}
            <li ><a href="/info/blog/pagina/{{pag}}">{{pag}}</a></li>
        {% endif %}

      {%endfor%}
    </ul>
  </nav>

{% endblock %}