{% extends "base_menu.html" %}
{% block css%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('select.form-control js-example-basic-multiple').select2();
});
</script>
{% endblock %}


{% block content %}
 
<div class="row">
<h2>{{titulo}}</h2>
<form method="post" class="form-hotizontal">
  <div class="col-md-6">
    
    {% csrf_token %}
    <div class="form-group">
        <label>Nombre:</label>
        {{ form.usuarios}}
    </div>
  </div>
</form>
    <table class="table table-bordered table-hover">
      <tr>
        <td class="text-center"><strong>N.</strong></td>
        <td class="text-center"><strong>Alumno</strong></td>
        
      </tr>
      {% for r in resultados %}
      <tr>
        <td class="text-center">{{forloop.counter}}</td>
        <td>{{r.sn.0}}, {{r.givenname.0}} ({{r.uid.0}})</td>
        
      </tr>

{% endfor %}
    </table>
  </div>
  <div class="col-md-4">
    <strong>Selecciona alumno:</strong>
    
  </div>

</div>


{% endblock %}

