.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

table {
    margin: 0 auto;
}

img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none !important;
}
