{% extends "base_menu.html" %}

{% block content %}
 
<h3>Módulo FCT</h3>
<h4>Normas</h4>
<ul>
	<li>Duración del módulo: los alumnos de GS deben realizar 370 horas, y los de GM 410 horas.</li>
	<li>La duración de la jornada debe ser de 7 - 8 horas, nunca sobrepasando las 40 horas semanales.</li>
	<li>Los días no lectivos, no se PUEDE realizar el módulo de FCT</li>
	<ul>
		<li>26 - 30 de marzo: Semana Santa</li>
		<li>30 abril: Día de la cominidad educativa</li>
		<li>1 mayo: Día del Trabajo</li>
		<li>4 y 7 mayo: Fería de Dos Hermanas</li>
	</ul>
	<li>Debes ser puntual. Informando a tu tutor laboral y docente de posibles días que tengas que faltar a la empresa.</li>
	<li>El alumno debe adecuar su forma de vestir a las necesidades y requisitos de la empresa.</li>
	<li>El alumno debe controlar las horas realizadas cada día y las actividades realizadas en la Hoja de control semanal.</li>
	<ul>
		<li><a href="http://dit.gonzalonazareno.org/fct/Ficha_semanal_FCT_rellenable.pdf">Ficha Semanal</a></li>
	</ul>
	<li>Se debe informar al tutor docente de todas las incidencias que se produzcan, así cómo enviar periódicamente las fichas semanales, para que el profesor pueda llevar el control de las horas que se han realizado.</li>
	<li>Cuando se finalicen las prácticas el alumno deberá traer todas las fichas semanales firmadas por el tutor laboral.</li>
	<li>Cuando se terminen las prácticas, el tutor laboral rellenará el Informe de Evaluación, que en determinados casos también lo deberá traer el alumno.</li>
	<ul>
		<li><a href="http://dit.gonzalonazareno.org/fct/Informe_tutor_laboral_seneca_rellenable.pdf">Informe de Evaulación del tutor laboral</a></li>
	</li>Los alumnos de GS asistirán a clase dos días durante la realización del módulo para trabajar en el Proyecto Integrado</li>
	<ul>
		<li>27 de abril</li>
		<li>25 de mayo</li>
	</ul>
	<li>Ante cualquier duda , dificultad o sugerencia, el alumno se pondrá en contacto con su tutor docente</li>
</ul>

<h4>Ayudas por desplazamiento</h4>

<p>Debes informarte de la normativa, procedimiento y plazos en la web de la Junta de Andalucía.</p>
<ul>
	<li><a href="http://portals.ced.junta-andalucia.es/educacion/portals/web/becas-y-ayudas/ayudas/ayuda-desplazamientos-empresas">Ayuda por desplazamientos a empresas (Formación Profesiona</a></li>
</ul>
<p>Algunas cosa a tener en cuenta:</p>
<ul>
	<li>Normativa:</li>
	<ul>
		<li><a href="http://portals.ced.junta-andalucia.es/educacion/portals/web/becas-y-ayudas/normativa/-/normativas/detalle/instruccion-de-31-de-mayo-de-2017-de-la-direccion-general-de-formacion-profesional-inicial-y-educacion-permanente-sobre">Instrucción de 31 de mayo de 2017, de la Dirección General de Formación Profesional Inicial y Educación Permanente, sobre actuaciones a seguir en los centros docentes sostenidos con fondos públicos para la solicitud de Ayudas por Desplazamiento del alumnado que realiza el módulo profesional de Formación en Centro de Trabajo o la Formación Práctica en la Formación Profesional Dual.</a></li>
	</ul>
	<li>Las ayudas se solicitan en el mes de junio.</li>
	<li>Puedes solicitar ayuda si la empresa se encuentra a más de 5km del IES.</li>
	<li>Debes presentar una solicitud, que rellenarás a través de la Secretaría virtual. Se imprime y posteriormente se entrega en secretaría.</li>
	<li>Debes presentar "Documento acreditativo de la asistencia a la empresa". Firmado por el tutor laboral y firmado por la empresa.</li>
		<ul>
			<li><a href="http://portals.ced.junta-andalucia.es/educacion/portals/abaco-portlet/content/e6db7210-5ac2-4a41-835d-d3915d3a55e5?a=true">Documento acreditativo de la asistencia a la empresa</a></li>
		</ul>
	<li>Esta información puede cambiar, por favor, es tu responsabilidad estar informado de los cambios que se vayan publicando en la web de la Junta de Andalucía</li>
</ul>




{% endblock %}