{% extends "base_menu.html" %}

{% block content %}
 
<h3>Normas de aula</h3>
<h4>Para el buen funcionamiento de las aulas de informática, se han establecido las siguientes normas:</h4>
<ol>
<li>A cada alumno se le asignará un equipo de trabajo.</li>
<li>Los alumnos son los responsables de:</li>
<ul>
	<li>Puntualidad en las horas de llegada.</li>
	<li>Tener ordenado y limpio su puesto de trabajo.</li>
	<li>Mantener el equipo en perfecto estado de funcionamiento.</li>
	<li>Apagado del equipo y monitor cuando finalice la jornada de trabajo. Si no se usa el equipo 	podrá ser puesto en modo hibernación o en modo suspendido con el fin de ahorrar energía.</li>
</ul>
<li>No se permite instalar ningún software sin autorización del profesor.</li>
<li>En cada equipo existen unas cuentas de usuarios que deberán ser respetadas, así como una serie de particiones y gestor de arranque.</li>
<li>No se permite la entrada al aula de personas ajenas al ciclo.</li>
<li>Los ordenadores se deben utilizar para trabajar y aprender, pero nunca para jugar.</li>
<li>Está prohibido el consumo de alimentos y bebidas en el interior del aula.</li>
<li>El aula permanecerá cerrada durante las horas de recreo.</li>
<li>En el caso de traer el portátil para trabajar en clase, el dpto no se hace responsable de rotura, robo o cualquier otro percance que pueda sufrir en el trascurso de las clases.</li>
<li>El uso de móvil está prohibido en el centro. Únicamente, salvo causa debidamente justificada y con permiso explicito del profesor presente en el aula.</li>
</ol>


{% endblock %}