{% extends "base_menu.html" %}

{% block content %}
 
<h3>Repositorios</h3>
		<p>La configuración para usar los repositorios locales en el fichero <code>/etc/apt/source.list</code> debe ser la siguiente:</p>
		<pre>
deb http://soleares.gonzalonazareno.org/debian jessie main contrib non-free
deb http://soleares.gonzalonazareno.org/debian jessie-updates main contrib non-free
deb http://soleares.gonzalonazareno.org/debian jessie-backports main contrib non-free
deb http://soleares.gonzalonazareno.org/debian-security jessie/updates main contrib</pre>

{% endblock %}