{% extends "base_menu.html" %}

{% block content %}
 
<h3>Conexión WIFI</h3>
		<p>La configuración para conectarnos a la WIFI del departamento será la siguiente:</p>
		
		<ol>
			<li>Seleccionamos la red (ASIR o SMR)</li>
			<li>Configuramos los siguientes parámetros:</li>
			<ul>
				<li>Wireless Security:<strong> WPA & WPA2 Enterprise</strong></li>
				<li>Authentication: <strong>Tunneled TLS</strong></li>
				<li>CA certificate: <strong>(Ninguno)</strong></li>
				<li>Inner Authentication:<strong> PAP</strong></li>
				<li>Username: <strong>miusuario</strong></li>
				<li>Password:<strong> Contraseña</strong></li>
			</ul>
			<li>Debemos introducir el nombre de usuario y contraseña de LDAP (con los que accedemos a la
plataforma).
			<li>Vamos a conectarnos sin CA (ca.pem) teniendo en cuenta que veremos un mensaje avisándonos de
ello.</li>
		</li>
		<br/>
		<img src="/static/img/documentacion/wifi.png"/>



{% endblock %}