
{% extends "t1bloque.html" %}
{% block content %}

        <div class="col-md-6">
        <h2 class="form-signin-heading">Notas</h2>
        <strong>Alumno:{{alumno}}</strong>
      {{datos}}
        <br>
        {% for cat,tareas in datos.items%}
            <h3>{{cat}}</h3>
            <h4>1ª Evaluación</h4>
            <ul>
            
            {% for tarea in tareas.1ev%}
            <li>
              {% if tarea.1  %}<strong>{%endif%}
              {{tarea.0}}: Nota: {{tarea.1}} -- Peso: {{tarea.2}}
              {% if tarea.1  %}</strong>{%endif%}
            </li>
            {% endfor %}
          </ul>
          
          <h4>2ª Evaluación</h4>
            <ul>
            
            {% for tarea in tareas.2ev%}
            {{tarea.0}}: Nota: {{tarea.1}} -- Peso: {{tarea.2}}
            {% endfor %}
          </ul>
          {% endfor %}
        
  </div>
  <br/>
{% endblock  %}