
{% extends "base_menu.html" %}
{% block content %}

        <div class="col-md-6">
        <h2 class="form-signin-heading">Redmine Multitask</h2>
        
        <form class="form-signin" method="post">
         <label>Proyecto:</label>

        <select name="proyecto" class="form-control">
          {% for p in proyectos %}
            <option value="{{p.id}}">{{p.name}}</option>
          {% endfor %}
          </select>
          <input type="hidden" name="paso" value="step2"/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Siguiente</button>
      </form>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  
{% endblock  %}