{% extends "base_menu.html" %}
{% block content %}

        <div class="col-md-6">
        <h2 class="form-signin-heading">Redmine Multitask</h2>
        
        <form class="form-signin" method="post">
         <fieldset>
          <legend>Nueva Tarea -Proyecto:{{nombreproyecto}}</legend>

          <label for="Tittle">Título:</label>
          
          <input class="form-control" type="text" id="title" name="tittle" required>
          <label for="bio">Descripción:</label>
          <textarea rows="10" class="form-control" id="bio" name="desc" required></textarea>
        
          <label for="job">Categoría:</label>
        <select class="form-control" id="categoria" name="categoria">
         {% for p in categorias%}
            <option value="{{p.id}}">{{p.name}}</option>
          {% endfor %}
        </select>
                 
          <label for="date">Fecha fin:</label>
          <input class="form-control" type="text" name="fecha2" pattern="\d{1,2}/\d{1,2}/\d{4}">
          <div class="radio">
            <label>
            <input  type="radio" name="opcion" value="grupo" checked> Seleccionar por grupo<br>
            Grupos:
          </label>
          </div>
          <select class="form-control" name="grupo">
          {% for p in grupos:
            <option value="{{p.id}}">{{p.name}}</option>
          {% end
          </select>
          <div class="radio">
            <label>
              <input type="radio" name="opcion" value="alumno"> Seleccionar por alumnos<br>
                Alumnos:</label>
          </div>
          {% for p in usuarios %}
            
            <div class="checkbox">
              <label>
                <input  type="checkbox" name="alumnos" value="{{p.user.id}}"> 
                {{p.user"].name"]}}</label></div>
            
          {% endfor %}

        
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Siguiente</button>
      </fieldset>
      </form>

  </div>
  <br/>
{% endblock  %}