{% extends "base.html" %}
{% block login %}
{% if login %}
          <form action="logout" class="navbar-form navbar-right">
              {% csrf_token %}
          <button type="submit" class="btn btn-danger">Salir</button>
         </form>
        
{% else %}
          <form action="/" method="post" class="navbar-form navbar-right">
              {% csrf_token %}
            {%if error %}
             <div class="form-group has-error" >
              <input type="text" name="username" placeholder="Error..." class="form-control">
            </div>
            <div class="form-group has-error">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            {% else %}
            <div class="form-group">
              <input type="text" name="username" placeholder="User" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
{% endif %}
</div><!--/.navbar-collapse -->
{% endblock%}
{% block menu %}
{% if login %}
<ul class="nav navbar-nav">
 <li class="active"><a href="#">Home</a></li>
 <li><a href="#about">About</a></li>
 <li><a href="#contact">Contact</a></li>
 <li class="dropdown">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
 <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Nav header</li>
    <li><a href="#">Separated link</a></li>
    <li><a href="#">One more separated link</a></li>
 </ul>
</li>
</ul>
{% endif %}
{% endblock  %}
