{% extends "base.html" %}
{% block login %}
{% if request.session.username %}
          <form action="/logout/" method="post" class="navbar-form navbar-right">
              {% csrf_token %}
              Usuario:<strong>{{request.session.username}}</strong>

          <button type="submit" class="btn btn-danger">Salir</button>
         </form>

{% else %}
          <form action="/" method="post" class="navbar-form navbar-right">
              {% csrf_token %}
            {%if error %}
             <div class="form-group has-error" >
              <input type="text" name="username" placeholder="Error..." class="form-control">
            </div>
            <div class="form-group has-error">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            {% else %}
            <div class="form-group">
              <input type="text" name="username" placeholder="User" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
{% endif %}
</div><!--/.navbar-collapse -->
{% endblock%}
{% block menu %}
{% if request.session.username %}
<ul class="nav navbar-nav">
{% if request.session.profesor %}
 <li class="dropdown">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alumnos<span class="caret"></span></a>
 <ul class="dropdown-menu">
    <li><a href="/usuarios/alumnos">Listar</a></li>
    <li><a href="/usuarios/add">Nuevo</a></li>
    <li><a href="/usuarios/tipo">Asignar tipo</a></li>
 </ul>
</li>
 <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profesores<span class="caret"></span></a>
 <ul class="dropdown-menu">
    <li><a href="/usuarios/profesores">Listar</a></li>
    <li><a href="#">Nuevo</a></li>
  </ul>
</li>
{% endif %}
 <li><a href="/usuarios/perfil">Tu perfil</a></li>
</ul>
{% endif %}
{% endblock  %}
