{% extends "base_menu.html" %}


{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}</div>
    {% endfor%}
  {% endif %}
<div class="jumbotron">
<h1>
    IES Gonzalo Nazareno
</h1>
<h2>Gestión de usuarios</h2>
<p>Esta aplicación Web permite a los usuarios de los servicios ofrecidos por el Deparatamento de Informática del IES Gonzalo Nazareno (alumnos y profesores de los Ciclos Formátivos de Informática) a gestionar los datos de las cuentas. Antes de continuar introduce tu nombre de usuario y contraseña.</p>
</div>
{% endblock %}

