{% extends "base_menu.html" %}

{% block contenido %}

{% block top%}{% endblock%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            {% block content%}{% endblock%}
        </div>
    
    
        <div class="col-md-3">
    
            <h3>Menú</h3>
		    <div class="list-group">
                <li class="list-group-item list-group-item-action"><a href="/">Inicio</a></li>
                <li class="list-group-item list-group-item-action"><a href="/info/paginas/contacto">Contacto</a></li>
                <li class="list-group-item list-group-item-action"><a href="/info/paginas/oferta">Oferta Educativa</a></li>
                <li class="list-group-item list-group-item-action"><a href="/info/paginas/innovacion">Innovación</a></li>
                <li class="list-group-item list-group-item-action"><a href="/info/paginas/instalaciones">Instalaciones</a></li>
                <li class="list-group-item list-group-item-action"><a href="/info/paginas/reconocimientos">Reconocimientos</a></li>		
            </div>
        
            <h3>Enlaces</h3>
		    <div class="list-group">
			    <li class="list-group-item list-group-item-action"><a href="https://informatica.gonzalonazareno.org">Blog del departamento</a></li>
			    <li class="list-group-item list-group-item-action"><a href="https://informatica.gonzalonazareno.org/plataforma">Antiguos cursos (moodle)</a></li>
			    <li class="list-group-item list-group-item-action"><a href="https://informatica.gonzalonazareno.org/proyectos">Proyectos integrados</a></li>
			    <li class="list-group-item list-group-item-action"><a href="https://www.gonzalonazareno.org">Web del IES Gonzalo Nazareno</a></li>
		    </div>
    
            
            <a class="twitter-timeline" data-width="400" data-dnt="true" data-tweet-limit="3" href="https://twitter.com/dit_GN?ref_src=twsrc%5Etfw">Tweets by dit_GN</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            
        </div>
    </div>
</div>
    
{% endblock%}