{% extends "base_menu.html" %}

{% block contenido %}

{% block top%}{% endblock%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            {% block content%}{% endblock%}
        </div>
    
    
        <div class="col-md-3">
    
            <h3>Menú</h3>
		    <div class="list-group">
                <li class="list-group-item list-group-item-action"><a href="/">Inicio</a></li>
                <!--<li class="list-group-item list-group-item-action"><a href="http://dit.gonzalonazareno.org/moodle#">Aula virtual Moodle</a></li>-->
                <li class="list-group-item list-group-item-action"><a href="https://educacionadistancia.juntadeandalucia.es/centros/sevilla/">Moodle Centros</a></li>
                <li class="list-group-item list-group-item-action"><a href="http://dit.gonzalonazareno.org/redmine">Gestor de proyectos Redmine</a></li>
                <!--<li class="list-group-item list-group-item-action"><a href="https://jupiter.gonzalonazareno.org/">OpenStack</a></li>-->
                <li class="list-group-item list-group-item-action"><a href="https://dit.gonzalonazareno.org/gestiona/proyectos/">Proyectos Integrados</a></li>
                {% if request.session.profesor %}
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/actualizar">Actualizar Proyectos Integrados</a></li>
                {%endif%}
            </div>
    <!--
            <h3>Contenido</h3>
		    <div class="list-group">
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/noticias">Noticias</a></li>
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/documentacion">Documentación</a></li>
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/blog">Blog</a></li>
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/proyectos/">Proyectos Integrados</a></li>
            </div>
        -->
        <!--
            <h3>Información</h3>
		    <div class="list-group">
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/paginas/contacto">Contacto</a></li>
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/paginas/oferta">Oferta Educativa</a></li>
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/paginas/innovacion">Innovación</a></li>
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/paginas/instalaciones">Instalaciones</a></li>
                <li class="list-group-item list-group-item-action"><a href="{{SITE_URL}}/info/paginas/reconocimientos">Reconocimientos</a></li>		
            </div>
        -->
            <!--<h3>Enlaces</h3>
		    <div class="list-group">
			    <li class="list-group-item list-group-item-action"><a href="https://informatica.gonzalonazareno.org">Blog del departamento</a></li>
			    <li class="list-group-item list-group-item-action"><a href="https://informatica.gonzalonazareno.org/plataforma">Antiguos cursos (moodle)</a></li>
			    <li class="list-group-item list-group-item-action"><a href="https://informatica.gonzalonazareno.org/proyectos">Proyectos integrados</a></li>
			    <li class="list-group-item list-group-item-action"><a href="https://www.gonzalonazareno.org">Web del IES Gonzalo Nazareno</a></li>
		    </div>-->
    
            
           <!-- <a class="twitter-timeline" data-width="400" data-dnt="true" data-tweet-limit="3" href="https://twitter.com/dit_GN?ref_src=twsrc%5Etfw">Tweets by dit_GN</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            
        </div>
    </div>
</div>
    
{% endblock%}