{% extends "t1bloque.html" %}
{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
</script>
{% endblock %}

{% block content %}
<h3>Correo</h3>
<form method="post">
    {% csrf_token %}
    <p class="text-muted">Busca los destinatarios de un grupo:</p>
    {{ form2.as_p }}
    {{ form.as_p }}
    <input name="correo" class="btn btn-primary" type="submit" value="Enviar">
</form>
{% endblock %}
