{% extends "base_menu.html" %}
{% block title %}Correo{% endblock %}
{% block js %}

<link href="{{SITE_URL}}/static/admin/css/widgets.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{SITE_URL}}/static/css/overrides.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{SITE_URL}}/static/admin/js/core.js"></script>
<script type="text/javascript" src="{{SITE_URL}}/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="{{SITE_URL}}/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="{{SITE_URL}}/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="{{SITE_URL}}/admin/jsi18n/"></script>
<script type="text/javascript" src="{{SITE_URL}}/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{SITE_URL}}/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="{{SITE_URL}}/static/admin/js/SelectFilter2.js"></script>

{% endblock %}
{% block content %}
<h3>Correo</h3>
<form  method="post">

    {% csrf_token %}
    {{ form2.as_p}}
    
    {{ form.as_p}}
    
<br/><input name ="correo" type="submit" value="Enviar" />
</form>
<br/><br/>

{% endblock %}
