{% extends "base_menu.html" %}

{% block content %}
<div class="row">
<h3>Borrar usuario</h3>
{% if not error and not grupo%}
<strong>Este proceso es irreversible. Por favor, tenga cuidado al realizar esta operación.</strong><br/>

<form  method="post" class="form-hotizontal">
  <div class="col-md-6">
    {% csrf_token %}
    <div class="form-group">
        <label>Nombre de usuario:</label>
        {{ form.uid}}
    </div>
    <button  type="submit" class="btn btn-primary">Borrar</button>
</div>
</form>
{% endif %}
{% if error %}
    <strong>{{error}}</strong><br/>
{% endif %}
{% if grupo %}
    <strong>¿Quieres borrar a {{nombre}} ({{grupo}})?</strong><br/>
    <form  method="post" class="form-hotizontal">
    <div class="col-md-6">
    {% csrf_token %}
    <div class="form-group">
        <label>Nombre de usuario:</label>
        {{ form.uiddel}}
    </div>
    <button  name="confirmar" type="submit" value="si" class="btn btn-primary">Si</button>
    <button  name="confirmar" type="submit" value="no" class="btn btn-primary">No</button>
</div>
    
{% endif %}

</div>

{% endblock %}
