{% extends "t1bloque.html" %}

{% block content %}
<h3>Borrar usuario</h3>
{% if not error and not grupo %}
<p class="text-danger"><strong>Este proceso es irreversible. Por favor, tenga cuidado al realizar esta operación.</strong></p>
<form method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Nombre de usuario:</label>
            {{ form.uid }}
        </div>
        <button type="submit" class="btn btn-danger">Borrar</button>
    </div>
</form>
{% endif %}
{% if error %}
    <p><strong>{{ error }}</strong></p>
{% endif %}
{% if grupo %}
    <p><strong>¿Quieres borrar a {{ nombre }} ({{ grupo.0 }})?</strong></p>
    <form method="post">
        {% csrf_token %}
        {{ form.uiddel }}
        <button name="confirmar" type="submit" value="si" class="btn btn-danger">Sí</button>
        <button name="confirmar" type="submit" value="no" class="btn btn-secondary ms-2">No</button>
    </form>
{% endif %}
{% endblock %}
