{% extends "base_menu.html" %}


{% block content %}
<div class="row">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}</div>
    {% endfor%}
  {% endif %}
<h3>Búsqueda</h3>
<form action="/usuarios/" method="post" class="form-hotizontal">
  <div class="col-md-6">



    {% csrf_token %}
    <div class="form-group">
        <label>Nombre:</label>
        {{ form.nombre}}
    </div>
    <div class="form-group">
            <label>Apellidos:</label>
            {{ form.apellidos}}
    </div>

    <div class="form-group">
            <label>Clase:</label>
            {{ form.clase}}
    </div>


    <button  type="submit" class="btn btn-primary">Buscar</button>

</div>
</form>
</div>

<div class="row">
<h2>Usuarios</h2>
  <div class="col-md-8">
    <table class="table table-bordered table-hover">
      <tr>
        <td class="text-center"><strong>N.</strong></td>
        <td class="text-center"><strong>Usuario</strong></td>
        <td class="text-center"><strong>Clase</strong></td>

        <td class="text-center"><strong>A/P</strong></td>
        <td class="text-center"><strong>Modificar</strong></td>
        <td class="text-center"><strong>Borrar</strong></td>
      </tr>
      {% for r in resultados %}
      <tr>
        <td class="text-center">{{forloop.counter}}</td>
        <td>{{r.sn.0}}, {{r.givenname.0}}</td>
        <td class="text-center">{{r.description.0}}</td>

        {% if r.gidnumber.0 == '2001' %}
          <td class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
        {% else %}
          <td class="text-center"><span class="glyphicon glyphicon-education"  aria-hidden="true"></span></td>
        {% endif%}
        <td class="text-center"><a href="/usuarios/update/{{r.uidnumber.0}}"><span class="glyphicon glyphicon-edit" style="color:green" aria-hidden="true"></span></a></td>
        <td class="text-center"><a href="#" data-href="/usuarios/del/{{r.uidnumber.0}}" data-toggle="modal" data-datos="{{r.sn.0}}, {{r.givenname.0}}" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash" style="color:red" aria-hidden="true"></span></a></td>
      </tr>

{% endfor %}
    </table>
  </div>
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Borrar Usuario</h4>
                </div>
            
                <div class="modal-body">
                    <p>Estás a punto de borrar un usuario. Este procedimiento es irreversible.</p>
                    <p>¿Estás seguro?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok">Borrar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js%}

    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            
            $('.debug-url').html('Borrar usuario: <strong>' + $(e.relatedTarget).data('datos') + '</strong>');
        });
    </script>
{% endblock%}