{% extends "t1bloque.html" %}

{% block content %}
<div class="row">
<h3>Añadir nuevo usuario</h3>

<form  method="post" class="form-hotizontal">
  <div class="col-md-6">
    {% csrf_token %}
    <div class="form-group">
        <label>Nombre de usuario:</label>
        {{ form.uid}}
    </div>
    <div class="form-group">
            <label>Contraseña:</label>
            {{ form.userPassword}}
    </div>
    <div class="form-group">
            <label>Nombre:</label>
            {{ form.givenName}}
    </div>
    <div class="form-group">
            <label>Apellidos:</label>
            {{ form.sn}}
    </div>
    <div class="form-group">
            <label>Correo electrónico:</label>
            {{ form.mail}}
    </div>
    <div class="form-group">
            <label>Ciudad:</label>
            {{ form.l}}
    </div>
    <div class="form-group">
            <label>Grupo:</label>
            {{ form.grupo}}
    </div>
    
        <button  type="submit" class="btn btn-primary">Añadir</button>
    

</div>
</form>
</div>

{% endblock %}
