{% extends "base_menu.html" %}

{% block content %}
<div class="row">
<h3>{{titulo}}</h3>
<strong>{{titulo2}}</strong>
<form  method="post" class="form-hotizontal">
  <div class="col-md-6">
    {% csrf_token %}
    <div class="form-group">
        <label>Nombre de usuario:</label>
        {{ form.uid}}
    </div>
    <div class="form-group">
            <label>Contraseña:</label>
            {{ form.userpassword}}
    </div>
    <div class="form-group">
            <label>Nombre:</label>
            {{ form.givenname}}
    </div>
    <div class="form-group">
            <label>Apellidos:</label>
            {{ form.sn}}
    </div>
    <div class="form-group">
            <label>Correo electrónico:</label>
            {{ form.mail}}
    </div>
    <div class="form-group">
            <label>Ciudad:</label>
            {{ form.l}}
    </div>
    
    <div class="form-group">
            <label>Clase:</label>
            {{ form.description}}
    </div>
    {{ form.AP}}
    {% if "Mod" in titulo%}
        <button  type="submit" class="btn btn-primary">Modificar</button>
    {% else %}
        <button  type="submit" class="btn btn-primary">Añadir</button>
    {% endif %}

</div>
</form>
</div>

{% endblock %}
