{% extends "t1bloque.html" %}

{% block content %}
<h3>Modificación de usuarios</h3>
<p><strong>Si no escribes ninguna contraseña se mantendrá la que el usuario posee actualmente.</strong></p>

<form method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Nombre de usuario:</label>
            {{ form.uid }}
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña:</label>
            {{ form.userPassword }}
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            {{ form.givenName }}
        </div>
        <div class="mb-3">
            <label class="form-label">Apellidos:</label>
            {{ form.sn }}
        </div>
        <div class="mb-3">
            <label class="form-label">Correo electrónico:</label>
            {{ form.mail }}
        </div>
        <div class="mb-3">
            <label class="form-label">Ciudad:</label>
            {{ form.l }}
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
    </div>
</form>
{% endblock %}
