{% extends "base_menu.html" %}
{% block title %}Cerfigicados{% endblock %}


{% block content %}
<h3>Gestión de Certificados</h3>


{%for num,fs in files.equipo.items%}

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Certificado (#{{num}})</h3></div>
  <div class="panel-body">
    <table>
      <tr>
        <td>
            Tu fichero csr: <strong>{{fs.0|last}}</strong><br/>
            <a href="{{fs.0|first}}/{{fs.0|last}}" class="btn btn-primary">Descargar</a>
        </td>
  
  {% if fs.1%}
    
      <td>
          Tu fichero crt: <strong>{{fs.1|last}}</strong><br/>
          <a href="{{fs.0|first}}/{{fs.1|last}}" class="btn btn-primary">Descargar</a>
      </td>
    
  {%else%}
    <br/><strong>Se está gestionando la generación de tu certificado...</strong>
  {% endif%}
      </tr>
    </table>
  </div>
</div>
{% endfor %}
<!--

{% if paths.1 %}
<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">Tu Certificado</h3></div>
  <div class="panel-body">
    <strong>{{files.1}}</strong><br/>
    <a href="{{paths.1}}" class="btn btn-danger">Descargar</a>
  </div>
</div>

{% else %}

<p>Se está gestionando la generación de tu certificado...</p>
{% endif %}-->

<div class="row">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}</div>
    {% endfor%}
  {% endif %}
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Certificado de equipo</h3></div>
  <div class="panel-body">
    <form  method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form_equipo.as_p}}
    <br/><input name ="certificados" class="btn btn-primary" type="submit" value="Enviar" />    
  </form>    
</div>
</div>

<br/><br/>

<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">Certificado de usuario</h3></div>
  <div class="panel-body">
    <form  method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form_usuario.as_p}}
    <br/><input name ="certificados" class="btn btn-danger" type="submit" value="Enviar" />    
  </form>    
</div>
</div>

<br/><br/>

{% endblock %}
